.react-draggable {
  position: absolute !important;
  z-index: 1337;
}

.drag-handle {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: lightgrey;
  cursor: move;
}

.react-resizable > div {
  width: 100% !important;
  height: 100% !important;
}

.react-resizable-handle-se {
  bottom: -10px !important;
  right: -10px !important;
}
