div[data-slate-editor] {
  font-family: source-code-pro, Monaco, Menlo, Consolas, 'Courier New', monospace;
}

/* leafs */

.leaf.bold {
  font-weight: bold;
}

.leaf.italic {
  font-style: italic;
}

.leaf.underlined {
  text-decoration: underline;
}

.leaf.title {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.leaf.list {
  padding-left: 10px;
  font-size: 20px;
  line-height: 10px;
}

.leaf.hr {
  display: block;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.leaf.blockquote {
  display: inline-block;
  border-left: 2px solid #ddd;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

.leaf.blockquote + .leaf {
  display: inline-block;
  border-left: 2px solid #ddd;
  padding-left: 10px;
}

/* .leaf.blockquote + .leaf::first-line {
  border-left: none !important;
  color: red;
} */

.leaf.code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
  cursor: pointer;
}

.leaf.timecode {
  font-family: monospace;
  background-color: lightblue;
  padding: 3px;
  cursor: pointer;
}

.leaf.timecodesimple {
  font-family: monospace;
  background-color: lightpink;
  padding: 3px;
  cursor: pointer;
}

.leaf.timecoderow {
  border-top: 2px solid #ddd;
  font-family: monospace;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 0px 0;
  cursor: pointer;
}
