.segment + .segment {
  border-top: 1px solid lightgrey;
}

.segment pre {
  background-color: #eeeeee;
  border: 1px solid white;
}

.segment textarea {
  width: 100%;
  font-family: adobe-clean-ux, adobe-clean, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    sans-serif;
  font-size: var(--spectrum-alias-font-size-default, var(--spectrum-global-dimension-font-size-100));
  line-height: var(--spectrum-alias-body-text-line-height, var(--spectrum-global-font-line-height-medium));
  text-overflow: ellipsis;
  border-radius: var(--spectrum-alias-border-radius-regular, var(--spectrum-global-dimension-size-50));
  border: var(--spectrum-alias-border-size-thin, var(--spectrum-global-dimension-static-size-10)) solid;
  border-color: var(--spectrum-alias-border-color, var(--spectrum-global-color-gray-400));
  color: var(--spectrum-alias-text-color, var(--spectrum-global-color-gray-800));
}

.segment textarea:focus {
  border-color: var(--spectrum-alias-border-color-mouse-focus, var(--spectrum-global-color-blue-500));
  border: var(--spectrum-alias-border-size-thin, var(--spectrum-global-dimension-static-size-10)) solid;
  /* outline: 1px solid var(--spectrum-alias-border-color-mouse-focus, var(--spectrum-global-color-blue-500)); */
  outline: none;
  outline-offset: 0px;
}

.segment label {
  color: rgb(110, 110, 110);
  font-size: 12px;
  position: relative;
}

.segment label > span {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: -15px;
}
